// Template stolen from https://github.com/PrismJS/prism-themes
code,
code > *,
pre,
pre > * {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 0.85rem;
}

code,
pre {
    background: var(--neutral-two);
    color: var(--white);
    /* The following properties are standard, please leave them as they are */
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    /* The following properties are also standard */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
    background: var(--neutral-one);
    color: inherit;
}

code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
    background: var(--neutral-one);
    color: inherit;
}

/* Properties specific to code blocks */
pre[class*="language-"] {
    padding: 1em; /* this is standard */
    margin: 0.5em 0; /* this is the default */
    overflow: auto; /* this is standard */
    border-radius: 4px;
}

/* Properties specific to inline code */
:not(pre) > code {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    white-space: normal; /* this is standard */
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #91889b;
}

.token.punctuation {
    color: #7b6995;
}

.token.builtin,
.token.constant,
.token.boolean {
    color: #f5e5a1;
}

.token.number {
    color: #f3b18d;
}

.token.important,
.token.atrule,
.token.property,
.token.keyword {
    color: #87a1ff;
}

.token.doctype,
.token.operator,
.token.inserted,
.token.tag,
.token.class-name,
.token.symbol {
    color: #74dfc4;
}

.token.attr-name,
.token.function,
.token.deleted,
.token.selector {
    color: #a584f7;
}

.token.attr-value,
.token.regex,
.token.char,
.token.string {
    color: #98dff2;
}

.token.entity,
.token.url,
.token.variable {
    color: var(--white);
}

/* The following rules are pretty similar across themes, but feel free to adjust them */
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.namespace {
    opacity: 0.7;
}
